@font-face {
    font-family: RazerF5;
    src: url(razerf5-reg.otf);
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


body{
    font-family: Razerf5,Roboto,Helvetica,Arial,sans-serif;
    background-color: #222;
    width: 100%;
}

.main-nav img{
    height: 2rem;
}

.main-nav{
    background: #000;
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid #44d62c;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
    align-items: center;
    font-size: 1rem;
}

.main-nav.is-active{
    border: none;
}

.cart.is-active{
    display: none;
}

.main-nav li a{
    display: inline-block;
    color: #888;
    margin: 0 2rem;
}

.main-nav li a:hover{
    color: #fff;
}

.hamburger, .cart{
    display: none;
}

.mobile-nav{
    position: fixed;
    left: 0;
    top: 48px;
    /* right: 100%; */
    width: 100%;
    min-height: 100vh;
    display: block;
    background-color: #000;
    z-index: 100;
}

.mobile-nav ul{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-top: 17.5px;
}

.mobile-nav a{
    display: block;
    text-align: left;
    color: #888;
    line-height: 42px;
    font-size: 17px;
}

.mobile-nav li{
    border-bottom: 1px solid #555;
    padding: 8px 0px;
}

.mobile-nav a:hover{
    color: #fff;
}

.mobile-nav li:nth-of-type(2) a:hover{
    color: #888;
}

.mobile-nav li:nth-of-type(2){
    border-bottom: none;
    padding: 0px;
}

.icon-angle-left{
    background-image: url(https://www.razer.com/assets/images/icons/icon-arrow-right.svg);
    background-size: 100% 100%;
    display: inline-block;
    height: 15px;
    margin: 3px 0 5px 6px;
    vertical-align: middle;
    width: 15px;
}

.mobile-nav input{
    background: #222;
    border: 0;
    border-radius: 10px;
    padding-left: 30px;
    margin: 40px 18px 0 18px;
    height: 40px;
    width: calc(100% - 36px);
    font-family: Razerf5,Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.mobile-nav.is-active{
    display: none;
}

main.is-active{
    display: none;
}

.notification{
    background: #555;
    color: #eee;
    text-align: center;
    font-size: 14px;
    min-height: 44px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    line-height: 20px;
    padding: 11.5px 24px 9.5px 30px;
}

.notification-link{
    color: #eee;
}

.picture-1{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-family: RazerF5,Arial, Helvetica, sans-serif;
    color: #fff;
}

.picture-1 h1,.picture-1 h2,.picture-1 h3{
    z-index: 1;
    margin-bottom: 10px;
    position: relative;
}


@media (min-width: 768px){
    .picture-1 h1{
        font-size: 3.4rem;
        letter-spacing: .0625rem;
    }

    .picture-1 h2{
        font-size: 1.7rem;
        font-weight: 100;
    }

    .picture-1 h3{
        font-size: 1.25rem;
        font-weight: 50;
        display: inline-block;
    }

    .picture-2 h1{
        font-size: 2.3rem;
        letter-spacing: .0625rem;
    }

    .picture-2 h2{
        font-size: 1.3rem;
        font-weight: 100;
    }

    .picture-2 h3{
        font-size: 1rem;
        font-weight: 50;
        display: inline-block;
    }
}

.picture-1-img{
    position: absolute;
    width: 100%;
    height: 75vh;
    min-height: 700px;
    object-fit: cover;
    object-position: center bottom;
    /* border-bottom: 10px solid #222; */
}

.picture-1-link{
    margin-bottom: 10px;
}


.section-1{
    display: flex;
    flex-direction: column;
}

.picture-1 h3:hover{
    text-decoration-line: underline;
}

.section-2 ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
}

.picture-2-li{
    flex: 1 1 49.5%;
    display: flex;
    height: 580px;
    width: auto;
    padding: 0 10px 10px 0;
}

.picture-2{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    color: #eee;
    text-align: center;
}

.picture-2-link{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.picture-2 img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.picture-2 h1,.picture-2 h2, .picture-2-link-2{
    z-index: 2;
    margin-bottom: 10px;
    position: relative;
    color: #fff;
}

.picture-2 h1{
    margin-top: 40px;
}

.picture-2 a:hover{
    text-decoration-line: underline;
}

footer{
    background: #111;
    font-size: 12px;
    outline: 0;
    padding: 1.5rem;
    color: #fff;
    margin: auto;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
}

.footer{
    outline: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
    border-bottom: 1px solid #888;
    max-width: 1200px;
    margin: auto;
}

.footer-top{
    padding-bottom: 0.6rem;
    display: block;
}

.footer-header{
    padding-bottom: 12px;
}

.footer-item{
    padding: 4px 0 12px 0;
}

.footer-item a{
    color: #888;
}

.footer-item a:hover{
    text-decoration: underline;
    color: #fff;
}

.col-last{
    color: #44d62c;
    font-size: 0.9rem;
    font-family: RazerF5, Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    text-align: end;
    padding: 0 12px;
    width: 25%;
}

.col-last span{
    padding-right: 0.4rem;
    padding-bottom: 0.25rem;
}

.row{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 1rem;
}

.copyright, .legal-terms{
    display: inline-block;
    color: #999;
}


.legal-terms ul{
    display: flex;
    justify-content: space-evenly;
}

.legal-terms ul li{
    padding: 0 1.5rem;
    border-right: 1px solid #999;
}

.legal-terms ul li:last-of-type{
    border-right: none;
}

.legal-terms ul li a, .location a{
    color: #999;
}

.legal-terms ul li a:hover, .location a:hover{
    text-decoration: underline;
    color: #fff;
}

.country{
    display: inline-block;
}

@media (max-width: 1150px){
    .main-nav li a{
        margin: 0 0.7rem;
    }
}
@media (max-width: 767px){
    .main-nav{
        height: 48px;
        position: relative;
    }
    .main-nav.is-active{
        height: 48px;
        position: sticky;
    }

    .main-nav li a{
        display: none;
    }
    .main-nav li:first-child a{
        display: inline-block;
        justify-content: start;
        align-items: start;
    }
    .cart{
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        color: gray;
        z-index: 100;
        font-size: 30px;
    }
    .hamburger{
        position: absolute;
        display: block;
        width: 25px;
        aspect-ratio: 1;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        top: 5px;
        left: 15px;
        z-index: 101;
    }
    .hamburger .bar, .hamburger::after{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: gray;
        margin: 10px 0;
        z-index: 101;
    }

    .hamburger.is-active::after{
        transform: rotate(45deg) translate(8px, 0px);
    }

    .hamburger.is-active .bar{
        transform: rotate(-45deg) translate(-8px, 16px);
    }

    .hamburger.is-active{
        top: -5px;
        left: 10px;
    }

    .notification{
        padding: 11.5px 40px 9.5px 30px;
    }

    .picture-1 h1{
        font-size: 2rem;
        letter-spacing: .0625rem;
        margin-top: 20px;
        text-align: center;
    }

    .picture-1 h2{
        font-size: 1.25rem;
        font-weight: 75;
    }

    .picture-1 h3{
        font-size: 1rem;
        font-weight: 50;
        display: inline-block;
    }

    .picture-2 h1{
        font-size: 2rem;
        letter-spacing: .0625rem;
        margin-top: 20px;
        text-align: center;
    }

    .picture-2 h2{
        font-size: 1.25rem;
        font-weight: 75;
    }

    .picture-2 h3{
        font-size: 1rem;
        font-weight: 50;
        display: inline-block;
    }

    .picture-2-li{
        display: flex;
        flex: 0 1 100%;
        height: 580px;
        width: auto;
        padding: 0 0 10px 0;
    }
}